{% extends "base.html" %}

{% block head %}
<title>Appmining</title>
{% endblock %}
{%  block body %}
<div id="app" >
    <div style="height: 100%; width: 100%;">
    <h1 style="padding-left: 42%; color: white; "> APP Anomalies </h1>
    <!-- <img src="https://image.winudf.com/v2/image1/Y29tLnNva28uc2FkLnNhcnJvdy5hbG9uZS53YWxscGFwZXIuSERfaWNvbl8xNTgyNzY1Njc3XzAzOA/icon.png?w=170&amp;fakeurl=1"> -->
    <!-- <p>{{message}}</p> -->
    <!-- <input v-model="message"> -->
    <!-- <textarea v-model="model" style="  text-align: center; margin-left: 600px; height: 50px; width: 300px;" placeholder="app name" ></textarea>
    <button v-on:click.prevent='search' style="margin-left: 700px; margin-top: 20px; margin-bottom: 20px;">Search App</button> -->
<!-- 
  <form class="example" style="margin:auto;max-width:300px">
  <input type="text" placeholder="App name"  v-model="model" name="search2">
  <button v-on:click.prevent='search' type="submit"><i class="fa fa-search"></i></button>
  </form> -->

    
    
          <form class="search" id="search" style="margin-left: 450px;">
            <span>
            
            <input class='searchbar transparent' id='searchbar' v-model="model"  type='text' autocomplete="off" required placeholder='search  for  your  apps  here' />
            <input v-on:click.prevent='search' class='button go' id='go' type="submit" value='GO' />
            </span>
          </form>
    

        <div>
          <div style="float: none; align-content: center;">          
            <img  v-bind:src="img_name" / id="myimg" style="height: 90px; width:80px; margin-left:47%; margin-top: 20px; border-radius: 10px; border:0; display: none;">
          </div>
          <div style="float: none;">
          <input v-model="result" style="height: 50px; width:100%;margin-top: 20px; margin-left: 2%; text-align: center; border-style: none; font-size: 36px; background: transparent; color: white; font-family: serif;"  readonly="readonly">
           {{ result }}
           </div>
           <!-- <div style="float: left; display: none;" id="taki">
             <input v-model="score" style="height: 50px; width:auto;margin-top: 50px; text-align: center; border-style: none; font-size: 36px; background: transparent; color: wheat; font-family: serif;"  readonly="readonly"> 
           {{ score }}
           </div> -->
        </div>
    </div>

    <!-- <textarea v-model="model2" style="height: 80px; width: 500px;" placeholder="example: - intent data"></textarea> -->
    <div>
      <button v-on:click.prevent='download' class="btn btn-success" style="float: none;border-radius: 50px; background-color: transparent; display: none; " id="btndown"><i class="fa fa-download"></i> Download App</button>
     
    <!-- <button v-on:click.prevent='download' style="margin-left: 700px; margin-top: 20px; margin-bottom: 20px; ">Download App</button>   -->
    <input v-model="result2" id="result2" style="height: 50px; width: 500px;margin-left:35%; text-align: center; border-style: none;font-size: 26px; font-family: cursive; background-color:transparent; color: white;"  readonly="readonly">{{ result2 }}
    </div>
    <!-- <i class="fas fa-skull-crossbones"></i> -->
     <div>
    <button v-on:click.prevent='detect' class="btn2" style="border-radius: 50px; background-color: transparent; display: none;" id="btncheck"><i class="fa fa-cog"></i> Check for Anomaly</button>
    <input v-model="result3" style="height: 50px; width: 500px;margin-left: 35%; text-align: center; border-style: none; font-size: 26px; font-family: cursive; border-color: #00022e; background-color: transparent; color: white;"  readonly="readonly">{{ result3 }}
    
    </div>
     <div style="text-align: center;">
      <button v-on:click.prevent='generateReport' class="btn btn-success" style="float: none;border-radius: 50px; display: none; background-color: transparent; " id="btnrep"><i class="fa fa-bar-chart"></i>Download report as pdf</button>
     <!--  <a id ="rep" target="_blank" style="display: none; font-size: 20px; color: white;" href="http://127.0.0.1:5000/report">Generate Report</a> -->
    </div>
    <input v-model="result4" id="result4" style="height: 50px; width: 500px;margin-left:35%; text-align: center; border-style: none;font-size: 26px; font-family: cursive; background-color:transparent; color: white;"  readonly="readonly">{{ result4 }}
</div>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
        message: 'Hello Vue.js!',
        model: null,
        result: null,
        model2: null,
        result2: null,
        result3:null,
        img_name: null,
        call:null,
        score: null,
        ratings: null,
        result4: null,
        dsi: null,
        },
        methods: {

        search: function() {
            console.log(app.model);
            alert(app.model);
            const request = new Request(
                `/api/search`,
                {
                 method: "POST",
                headers: { "Content-Type": "application/json; charset=utf-8" },
                body: JSON.stringify(this.model),
                }
              );
            // this.result="YouTube APK"
          fetch(request)
          .then(response => response.json())
          .then(data =>this.call=data);
           setTimeout(() => {  
          console.log("asdfghj ", this.call)
          this.result= this.call['app_name'], this.img_name= this.call['img_src'];
          this.score= "Rating "+this.call['score'], this.ratings= this.call['ratings'];
          var x = document.getElementById("myimg");
            console.log("sdfkjs ",x);
            x.style.display = "block";
           var xx = document.getElementById("btndown");
            console.log("btndown ",xx);
            xx.style.display = "block";
             
            // document.getElementById("taki").style.display="block";
             }, 5000);
      
        },
        download: function(){
          const request = new Request(
                `/api/download`,
                {
                 method: "POST",
                headers: { "Content-Type": "application/json; charset=utf-8" },
                body: JSON.stringify(this.model2),
                }
              );
            this.result2="Downloading app...";
          fetch(request)
          .then(response => response.json())
          .then(data =>this.result2=data['downloaded']); 
          document.getElementById("result2").style.color= "green";
          document.getElementById("btncheck").style.display = "block";
            // setInterval(function(){ 
            //     console.log("result2 ", this.result2);
            //   if(this.result2="Download completed!"){
            //   } }, 3000);
            // var yy = document.getElementById("btncheck");
            // console.log("btncheck ",yy);
            // yy.style.display = "block";
          // setTimeout(() => {  this.result2="Download complete!!" }, 30000);
        },
        detect: function(){
          const request = new Request(
                `/api/detect`,
                {
                 method: "POST",
                headers: { "Content-Type": "application/json; charset=utf-8" },
                body: JSON.stringify(this.model2),
                }
              );
          this.result3="Checking anomalous behavoirs..."
          fetch(request)
          .then(response => response.json())
          .then(data =>this.result3=data["anomaly"]);
          // setInterval(function(){ 
          // console.log("D",this.result3=data["anomaly"]);
                
          // if (this.dsi!= null){
          //     this.result3=this.dsi["anomaly"];
          //     if(this.dsi["flag"]=="malware"){
          //       document.getElementById("result3").style.color="red";
          //     }
          //     else if(this.dsi["flag"]=="normal"){
          //       document.getElementById("result3").style.color="green";
          //     }
          // }
              
          // }, 3000);
              document.getElementById("btnrep").style.display = "block";
            // this.result3="Checking anomalous behavoirs..."
          // fetch(request)
          // .then(response => response.json())
          // .then(data =>this.result2=data);  

          // setTimeout(() => {  this.result3="The app is safe!!" }, 50000);
        },
        generateReport: function(){
          const request = new Request(
                `/api/downloadaspdf`,
                {
                 method: "POST",
                headers: { "Content-Type": "application/json; charset=utf-8" },
                body: JSON.stringify(""),
                }
              );
            fetch(request)
          .then(response => response.json())
          .then(data =>this.pdfname=data);
          // console.log("this ", this.pdfname["fil"])
            setTimeout(() => {  
                // console.log("result2 ", this.result2);
              this.result4= "PDF download completed!"
              var yy = document.getElementById("result4");
            // console.log("btncheck ",yy);
            yy.style.display = "block";
            // var yys = document.getElementById("pddf");
            // // console.log("btncheck ",yy);
            // yys.style.display = "block";
               }, 3000);

          //   this.result2="Downloading app...";
          // fetch(request)
          // .then(response => response.json())
          // .then(data =>this.result2=data['downloaded']); 
          // document.getElementById("result2").style.color= "green";
          // document.getElementById("btncheck").style.display = "block";
        }
        }
    })
</script>

{% endblock %}